@import "tailwindcss";

@theme {
  --ease-in-quad: cubic-bezier(.55, .085, .68, .53);
  --ease-in-cubic: cubic-bezier(.550, .055, .675, .19);
  --ease-in-quart: cubic-bezier(.895, .03, .685, .22);
  --ease-in-quint: cubic-bezier(.755, .05, .855, .06);
  --ease-in-expo: cubic-bezier(.95, .05, .795, .035);
  --ease-in-circ: cubic-bezier(.6, .04, .98, .335);

  --ease-out-quad: cubic-bezier(.25, .46, .45, .94);
  --ease-out-cubic: cubic-bezier(.215, .61, .355, 1);
  --ease-out-quart: cubic-bezier(.165, .84, .44, 1);
  --ease-out-quint: cubic-bezier(.23, 1, .32, 1);
  --ease-out-expo: cubic-bezier(.19, 1, .22, 1);
  --ease-out-circ: cubic-bezier(.075, .82, .165, 1);

  --ease-in-out-quad: cubic-bezier(.455, .03, .515, .955);
  --ease-in-out-cubic: cubic-bezier(.645, .045, .355, 1);
  --ease-in-out-quart: cubic-bezier(.77, 0, .175, 1);
  --ease-in-out-quint: cubic-bezier(.86, 0, .07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(.785, .135, .15, .86);

  --color-dark: #1a1a1a;
  --color-light: #fcecdd;

  --text-6xl: 64px;

  --tracking-body-base: -0.04em;
  --tracking-heading: -0.01em;
  --tracking-heading-mobile: -0.03em;
}

/* Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fcecdd;
}

::-webkit-scrollbar-thumb {
  background: #1a1a1a;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #282828;
}

/* Firefox */
* {
  scrollbar-width: thin; /* or 'auto' or 'none' */
  scrollbar-color: #1a1a1a #fcecdd; /* thumb track */
}

@supports (scrollbar-width: none) {
  * {
    scrollbar-width: none;
  }
}

.linkMask__char, .linkMask__char--secondary {

  --stagger: 0.01s;

    display: inline-block;
    transform: translateY(0%);
    transition: transform 0.8s var(--ease-out-quart);
        transition-delay: calc(var(--char)*var(--stagger));
}

.LinkMask__container {

    &:hover .linkMask__char{
        transform: translateY(-100%);
    }

    &:hover .linkMask__char--secondary{
        transform: translateY(-100%);

    }
}


@supports (corner-shape: squircle) {
  .squircle {
    corner-shape: squircle;
    border-radius: calc(infinity * 1px);
  }
}
