@import "tailwindcss";

@theme{
    --color-dark: #1a1a1a;
    --color-light: #FCECDD;

    --text-6xl: 64px;

    --tracking-body-base:-0.04em;
    --tracking-heading: -0.01em;
    --tracking-heading-mobile: -0.03em
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}